{% extends 'main_layout.html.twig' %}

{% block mainContent %}
<div class="row">
    <div class="col-xl-6 center order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                        <a href="#">
                            {% if not user.profilePicture %}
                                <img src="{{ asset('uploads/profile_pictures/default/default.png') }}" class="rounded-circle">
                            {% else %}
                                <img src="{{ asset(user.profilePicture) }}" class="rounded-circle">
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                <div class="d-flex justify-content-between">
                    <br>
                </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
                <div class="row">
                    <div class="col">
                        <div class=" d-flex justify-content-center mt-md-5">
                            <h2>
                                {{ user.fullName }}
                                {% if userAge %}
                                    <span>&bull;</span> {{ userAge }}
                                {% endif %}
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="text-center">

                    <ul class="list-group">
                        <li class="list-group-item">
                            <i class="far fa-building"></i> {{ 'City'|trans }}: <strong>{{ user.city }}</strong>
                        </li>
                        {% if user.cityPart %}
                        <li class="list-group-item">
                            <i class="fas fa-map-marker-alt"></i> {{ 'City part'|trans }}: <strong>{{ user.cityPart }}</strong>
                        </li>
                        {% endif %}

                        {% if user.budget %}
                            <li class="list-group-item">
                                <i class="fas fa-euro-sign"></i> Planuojamas biudžetas: <strong>{{ user.budget }}</strong>
                            </li>
                        {% endif %}

                        {% if user.occupation %}
                            <li class="list-group-item">
                                <i class="fas fa-user-tie"></i> {{ 'Occupation'|trans }}: <strong>{{ user.occupation
                                    }}</strong>
                            </li>
                        {% endif %}

                        {% if user.university %}
                            <li class="list-group-item">
                                <i class="fas fa-university"></i> {{ 'University'|trans }}: <strong>{{ user.university }}</strong>
                            </li>
                        {% endif %}

                        {% if user.hobbies %}
                            <li class="list-group-item">
                                <i class="fas fa-hiking"></i> {{ 'Hobbies'|trans }}: <strong>{{ user.hobbies }}</strong>
                            </li>
                        {% endif %}

                        {% if user.aboutme %}
                            <li class="list-group-item">
                                <i class="fas fa-info"></i> Apie mane: <strong>{{ user.aboutme }}</strong>
                            </li>
                        {% endif %}
                    </ul>
                    <hr class="my-4" />
                </div>
                {% if app.request.pathInfo != '/flatmate/' ~ app.user.id %}
                    <a href="{{ path('app.message.new_thread', {'participantId': user.id}) }}" class="btn btn-primary float-right" role="button">
                        <span class="btn-inner--icon"><i class="far fa-comments"></i></span>

                        <span class="btn-inner--text">{{ 'Message'|trans }}</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


