{% extends 'main_layout.html.twig' %}

{% block mainContent %}
<div class="row">
    <div class="col-xl-6 center order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                        <a href="#">
                            {% if not user.profilePicture %}
                                <img src="{{ asset('uploads/profile_pictures/default/default.png') }}" class="rounded-circle">
                            {% else %}
                                <img src="{{ asset(user.profilePicture) }}" class="rounded-circle">
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                <div class="d-flex justify-content-between">
                    <br>
                </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
                <div class="row">
                    <div class="col">
                        <div class=" d-flex justify-content-center mt-md-5">
                            <h2>
                                {{ user.fullName }}
                                {% if userAge %}
                                    <span>&bull;</span> {{ userAge }}
                                {% endif %}
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="text-center">

                    <ul class="list-group">
                        <li class="list-group-item">
                            <i class="far fa-building"></i> {{ 'City'|trans }}: <strong>{{ user.city }}</strong>
                        </li>
                        {% if user.cityPart %}
                        <li class="list-group-item">
                            <i class="fas fa-map-marker-alt"></i> {{ 'City part'|trans }}: <strong>{{ user.cityPart }}</strong>
                        </li>
                        {% endif %}

                        {% if user.budget %}
                            <li class="list-group-item">
                                <i class="fas fa-euro-sign"></i> {{ 'Planned budget'|trans }}: <strong>{{ user.budget
                                    }}</strong>
                            </li>
                        {% endif %}

                        {% if user.occupation %}
                            <li class="list-group-item">
                                <i class="fas fa-user-tie"></i> {{ 'Occupation'|trans }}: <strong>{{ user.occupation
                                    }}</strong>
                            </li>
                        {% endif %}

                        {% if user.university %}
                            <li class="list-group-item">
                                <i class="fas fa-university"></i> {{ 'University'|trans }}: <strong>{{ user.university }}</strong>
                            </li>
                        {% endif %}

                        {% if user.hobbies %}
                            <li class="list-group-item">
                                <i class="fas fa-hiking"></i> {{ 'Hobbies'|trans }}: <strong>{{ user.hobbies }}</strong>
                            </li>
                        {% endif %}

                        {% if user.aboutme %}
                            <li class="list-group-item">
                                <i class="fas fa-info"></i> {{ 'About me'|trans }}: <strong>{{ user.aboutme }}</strong>
                            </li>
                        {% endif %}
                        {% if match and match.status == 'accepted' %}

                            <li class="list-group-item bg-light">
                                <h3><i class="fas fa-id-card-alt"></i> {{ 'Contacts'|trans }}</h3>
                                <p class="lead"><i class="fas fa-at"></i> {{ 'Email'|trans }}: <strong>{{ user.email
                                        }}</strong></p>
                                <p class="lead"><i class="fas fa-phone"></i> {{ 'Phone'|trans }}: <strong>{{ user
                                        .userAge
                                        }}</strong></p>
                            </li>
                        {% endif %}
                    </ul>
                    <hr class="my-4" />
                    {% if match %}
                        {% include 'reusable_blocks/match_status.html.twig' %}
                    {% endif %}

                </div>
                    <div class="d-flex justify-content-center">

                        {% if not match %}
                            <form action="{{ path('invitation_sent') }}" method="POST">
                                <input type="hidden" name="uuid" value="{{ user.id }}">
                                <button class="btn btn-info">
                                    {{ 'Be flatmates'|trans }}
                                </button>
                            </form>

                        {% else %}

                            {% if match.status == 'pending' %}
                                {% if match.sender_id == app.user.id %}
                                    <form action="{{ path('invitation_cancel') }}" method="POST">
                                        <input type="hidden" name="uuid" value="{{ match.receiver_id }}">
                                        <button class="btn btn-danger">
                                            {{ 'Cancel invitation'|trans }}
                                        </button>
                                    </form>
                                {% else %}
                                    <form action="{{ path('invitation_decline') }}" method="POST">
                                        <input type="hidden" name="uuid" value="{{ match.sender_id }}">
                                        <button class="btn
                                    btn-danger">
                                            {{ 'Decline'|trans }}
                                        </button>
                                    </form>

                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                            data-target="#exampleModal">
                                        {{ 'Accept'|trans }}
                                    </button>



                                {% endif %}

                            {% endif %}

                            {% if match.status == 'declined' %}
                                {% if match.sender_id != app.user.id %}
                                        <form action="{{ path('invitation_decision_cancel') }}" method="POST">
                                            <input type="hidden" name="uuid" value="{{ match.sender_id }}">
                                            <button class="btn btn-block
        btn-info">
                                                Atšaukti atmetimą
                                            </button>
                                        </form>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% if app.request.pathInfo != '/flatmate/' ~ app.user.id %}
                            <a href="{{ path('app.message.new_thread', {'participantId': user.id}) }}" class="btn btn-primary" role="button">
                                <span class="btn-inner--icon"><i class="far fa-comments"></i></span>

                                <span class="btn-inner--text">{{ 'Message'|trans }}</span>
                            </a>
                        {% endif %}

                    </div>
            </div>
        </div>
    </div>
</div>

{% include 'profile/blocks/confirm_invitation_accept_modal.html.twig' %}


{% endblock %}


