{% extends 'authentication_base.html.twig' %}

{% block title %}{{ 'Register'|trans }}{% endblock %}

{% block pageHeading %}{{ 'Register page heading'|trans }}{% endblock %}

{% block headerText %}{{ 'Register page text'|trans }}{% endblock %}



{% block orsignin_up %}{{ 'Sign up with credentials'|trans }}{% endblock %}


{% form_theme registrationForm _self %}
    {%- block form_row -%}
        {%- set widget_attr = {} -%}
        {%- if help is not empty -%}
            {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
        {%- endif -%}

        {{- form_label(form, null, {
            label_attr: { class: 'sr-only' }
        }) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}

    {%- endblock form_row -%}


    {%- block form_errors -%}
        {%- if errors|length > 0 -%}

            {%- for error in errors -%}
                <div class="alert alert-warning">{{ error.message|trans }}</div>
            {%- endfor -%}

        {%- endif -%}
    {%- endblock form_errors -%}


{% block authenticationForm %}

    {{ form_start(registrationForm) }}

    {{ form_errors(registrationForm.email) }}
    {{ form_errors(registrationForm.plainPassword) }}
    <div class="form-group">
        <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            {{ form_row(registrationForm.email, {
                attr: { placeholder: 'Email', class: 'form-control' }
            }) }}
        </div>
    </div>
    <div class="form-group">
        <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
            </div>
            {{ form_row(registrationForm.plainPassword, {
                attr: { placeholder: 'Password', class: 'form-control' }
            }) }}
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary mt-4">
            {{ 'Register'|trans }}
        </button>
    </div>

    {{ form_end(registrationForm) }}

{% endblock %}
