<div class="d-flex mb-7 flex-wrap justify-content-center">
    <div class="container">
        <div class="card bg-secondary shadow">
            <h1>{{ 'Match filter'|trans }}</h1>
            {{ form_start(filterForm) }}
            <div class="row">
                <div class="col-2">
                    {{ form_row(filterForm.gender, {
                        attr: {class: 'form-control' }
                    }) }}
                </div>
                <div class="col-3">
                    {{ form_row(filterForm.MatchPercent, {
                        attr: {class: 'form-control' }
                    }) }}
                </div>
                <div class="col-2">
                    {{ form_row(filterForm.minAge, {
                        attr: {class: 'form-control' }
                    }) }}
                </div>
                <div class="col-2">
                    {{ form_row(filterForm.maxAge, {
                        attr: {class: 'form-control' }
                    }) }}
                </div>
                <div class="col-3">
                    {{ form_row(filterForm.budget, {
                        attr: {class: 'form-control' }
                    }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="text-left">
                        <button type="submit" class="btn btn-primary my-4">
                            {{ 'Search'|trans }}
                        </button>
                    </div>
                </div>
            </div>
            {{ form_end(filterForm) }}
        </div>
    </div>
</div>