<tr>
    <th scope="row">
        <div class="media align-items-center">
            <a href="#" class="avatar rounded-circle mr-3">
                <img alt="Profilio nuotrauka" src="{% block profilePictureSrc %}{% endblock %}">
            </a>
            <div class="media-body">
                <span class="mb-0 text-sm">{% block user %}{% endblock %}</span>
            </div>
        </div>
    </th>
    <td>
        {% block budget %}{% endblock %}
    </td>
    <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i>{% block region %}{% endblock %}
                      </span>
    </td>
    <td>
        <div class="d-flex align-items-center">
            <span class="mr-2">{% block matchNumber %}{% endblock %}%</span>
            <div>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="{{ block('matchNumber') }}"
                         aria-valuemin="0"
                         aria-valuemax="100" style="width: {{ block('matchNumber') }}%;"></div>
                </div>
            </div>
        </div>
    </td>
    <td class="text-right">
        <div class="dropdown">
            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                <a class="dropdown-item" href="#">{{ 'Message'|trans }}</a>
                <a class="dropdown-item" href="#">{{ 'Look profile'|trans }}</a>
                <a class="dropdown-item" href="#">{{ 'Be flatmates'|trans }}</a>
            </div>
        </div>
    </td>
</tr>