{% extends 'main_layout.html.twig' %}

{% block title %}{{ 'Invites'|trans }}{% endblock %}

{% block pageHeading %}{{ 'Invites'|trans }} - {{ group|trans }}{% endblock %}

{% block mainContent %}
    <div class="container">
        <div class="mt--9 mb-8 text-center">
            <a href="{{ path('invitation_get', {group: 'received'}) }}" class="btn btn-default mx-2"><i class="fas
                fa-inbox"></i>
                {{ 'received'|trans }} ({{ group == 'received' ? invites.count : totalInvitesNumber - invites.count }})</a>
            <a href="{{ path('invitation_get', {group: 'sent'}) }}" class="btn btn-default mx-2"><i class="fas
                fa-paper-plane"></i> {{ 'sent'|trans }} ({{ group == 'sent' ? invites.count : totalInvitesNumber -
                invites.count }})</a>
        </div>
        {% if invites is not empty %}

            <div class="d-flex mb-1 flex-wrap justify-content-center">
                {% for match in invites.currentPageResults %}
                    {% include 'reusable_blocks/match_card.html.twig' %}
                {% endfor %}
            </div>
            {% if invites.haveToPaginate %}
                <div class="pagerfanta">
                    {{ pagerfanta(invites, 'twitter_bootstrap4', {'prev_message': '&larr;', 'next_message': '&rarr;',
                        'css_container_class': 'pagination justify-content-center','omitFirstPage': true}) }}
                </div>
            {% endif %}

        {% endif %}
    </div>

{% endblock %}
