{% extends 'main_layout.html.twig' %}

{% block title %}{{ 'Match'|trans }}{% endblock %}

{% block pageHeading %}{{ 'Match'|trans }}{% endblock %}

{% block mainContent %}


    <div class="d-flex mb-5 flex-wrap justify-content-center">
{#        {{ dump(my_pager.currentPageResults) }}#}
        {% for match in pagerfanta.currentPageResults %}
        <div class="card card-profile shadow user-match-card mx-md-3 mb-6">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                        <a href="{{ path('profile.view', { 'uuid': match.user.id }) }}">
                            {% if not match.user.profilePicture %}
                                <img src="{{ asset('uploads/profile_pictures/default/default.png') }}" class="rounded-circle">
                            {% else %}
                                <img src="{{ asset(match.user.profilePicture) }}" class="rounded-circle">
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            <div
                    class="card-header text-center border-0 pt-8 pt-md-4 pb-0 mt-md-8"
            >
                <div class="d-flex justify-content-between">
                    <a href="#" class="btn btn-sm btn-info">Tapti kambariokais</a>
                    <a href="#" class="btn btn-sm btn-default"
                    >Profilis</a
                    >
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col">
                        <div
                                class="card-profile-stats d-flex justify-content-center"
                        >
                            <div>
                                <span class="heading">{{ match.coefficient }}</span>
                                <span class="description">{{ 'Match percent'|trans }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h3>
                            {{ match.user.fullName }}


                            <span>&bull;</span> {{ match.user.userAge }}


                    </h3>
                    <div class="h5 font-weight-300">
                        <i class="ni location_pin mr-2"></i>{{ match.user.city }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagerfanta">
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap4', {'prev_message': '&larr;', 'next_message': '&rarr;',
            'css_container_class': 'pagination justify-content-center'}) }}
    </div>



{% endblock %}
