{% extends 'main_layout.html.twig' %}

{% block title %}{{ 'Match'|trans }}{% endblock %}

{% block pageHeading %}{{ 'Match'|trans }}{% endblock %}

{% block mainContent %}
    <div class="container">
        {% if matches is not empty %}
            <div class="d-flex mb-1 flex-wrap justify-content-center">
                {% for match in matches.currentPageResults %}

                    <div class="card card-profile shadow user-match-card mx-md-2 mb-6 ">
                        <a href="{{ path('profile.view', { 'uuid': match.second_user }) }}">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    {% if not match.profile_picture %}
                                        <img src="{{ asset('uploads/profile_pictures/default/default.png') }}" class="rounded-circle">
                                    {% else %}
                                        <img src="{{ asset(match.profile_picture) }}" class="rounded-circle">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div
                                class="card-body text-center border-0 pt-8 pt-md-4 pb-0 mt-md-8"
                        >

                            <div class="row">
                                <div class="col">
                                    <h3>
                                        {{ match.full_name }}
                                        <span>&bull;</span> {{ date().diff(date(match.date_of_birth)).y }}
                                    </h3>
                                    <div class="h5 font-weight-300">
                                        <i class="ni location_pin mr-2"></i>{{ match.city }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div
                                            class="card-profile-stats d-flex justify-content-center"
                                    >
                                        <div class="rounded-circle bg-primary">
                                            <span class="lead text-secondary">{{ match.coeficient }}%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% include 'match/blocks/match_status.html.twig' %}

                        </div>
                        </a>
                    </div>


                {% endfor %}
            </div>
            {% if matches.haveToPaginate %}
                <div class="pagerfanta">
                    {{ pagerfanta(matches, 'twitter_bootstrap4', {'prev_message': '&larr;', 'next_message': '&rarr;',
                        'css_container_class': 'pagination justify-content-center','omitFirstPage': true}) }}
                </div>
            {% endif %}

        {% endif %}

        {% if not app.user.questionnaireScore %}
            {% include 'match/blocks/no_filled_questionnaire.html.twig' %}
        {% endif %}

        {% if not app.user.city %}
            {% include 'match/blocks/no_filled_profile.html.twig' %}
        {% endif %}

        {% if matches is empty and app.user.city and app.user.questionnaireScore %}
            {% include 'match/blocks/no_matches.html.twig' %}
        {% endif %}

    </div>

{% endblock %}
