<div id="notifications" class="nav-item dropdown " data-notification_route="{{ path('api_notifications') }}"
    data-delete_notification_route="{{ path('delete_notification') }}">
    <a
            id="notification-bell"
            class="nav-link pr-0 text-secondary {{ notificationList ? 'text-danger' : ''}}"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
    >
        <i class="fas fa-bell"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right overflow-auto dropdown-list">
        <div id="notification-list">
            {% for item in notificationList %}
                <form class="notification-link" action="{{ path('delete_notification') }}" method="POST">
                    <input type="hidden" name="notificationId" value="{{ item.notification.id }}">
                    <button class="dropdown-item">{{ item
                        .notification
                        }}</button>
                </form>
            {% endfor %}
        </div>
        <p id="no-notifications" class="px-2 my-0 {{ notificationList ? 'd-none' : '' }}">Nėra pranešimų</p>
    </div>
</div>
