
    <!-- Navbar -->
    <nav
            class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark"
    >
        <div class="container px-4">
            <a class="navbar-brand pt-1" href="{{ path('matched') }}">
                {{ 'Brand name'|trans }}
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbar-collapse-main"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse-main">
                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="{{ path('matched') }}">
                                {{ 'Brand name'|trans }}
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button
                                    type="button"
                                    class="navbar-toggler"
                                    data-toggle="collapse"
                                    data-target="#navbar-collapse-main"
                                    aria-controls="sidenav-main"
                                    aria-expanded="false"
                                    aria-label="Toggle sidenav"
                            >
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Navbar items -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('profile.edit') }}">
                            <i class="far fa-id-card"></i>&nbsp;
                            <span>{{ 'My profile'|trans }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('matched') }}">
                            <i class="far fa-handshake"></i>&nbsp;
                            <span>{{ 'Match'|trans }}</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('app.message.inbox') }}" class="dropdown-item">
                            <i class="far fa-envelope"></i>
                            <span>{{ 'Inbox'|trans }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('invitation_get') }}">
                            <i class="far fa-address-book"></i>
                            <span>{{ 'Invites'|trans }}</span>
                        </a>
                    </li>
                </ul>
                <!-- User -->
                <ul class="navbar-nav align-items-center d-none d-md-flex ml-lg-auto">
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link pr-0"
                                href="#"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                        >
                            <div class="media align-items-center">
                                <span class="avatar avatar-sm rounded-circle">
                                    {% if not app.user.profilePicture %}
                                        <img src="{{ asset('uploads/profile_pictures/default/default.png') }}" class="rounded-circle">
                                    {% else %}
                                        <img src="{{ asset(app.user.profilePicture) }}" class="rounded-circle">
                                    {% endif %}
                                </span>
                                <div class="media-body ml-2 d-none d-lg-block">
                                    <span class="mb-0 text-sm  font-weight-bold">{{ app.user.fullName ? app.user
                                        .fullName : app.user.email }}&nbsp;<i class="fas fa-caret-down"></i></span>
                                    <span>
                                    {% if fos_message_nb_unread() > 0 %}
                                        <img src="{{ asset('newmessage.png') }}" >
                                    {% endif %}
                                </span>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                            <div class=" dropdown-header noti-title">
                                <h6 class="text-overflow m-0">{{ 'Welcome'|trans }}!</h6>
                            </div>
                            <a href="{{ path('app.message.inbox') }}" class="dropdown-item">
                                <i class="far fa-envelope"></i>
                                <span>{{ 'Inbox'|trans }}</span>
                            </a>
                            <a href="{{ path('profile.edit') }}" class="dropdown-item">
                                <i class="far fa-id-card"></i>
                                <span>{{ 'My profile'|trans }}</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('logout') }}" class="dropdown-item">
                                <i class="fas fa-sign-out-alt"></i>
                                <span>{{ 'Logout'|trans }}</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>