{% extends 'base.html.twig' %}

{% block title %}{{ questionnaireTitle|trans }}{% endblock %}

{% block body %}

    <!-- Sidenav -->
    <nav
            class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white"
            id="sidenav-main"
    >
        <div class="container-fluid">
            <!-- Toggler -->
            <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#sidenav-collapse-main"
                    aria-controls="sidenav-main"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand pt-1" href="{{ path('home') }}">
                {{ 'Brand name'|trans }}
            </a>
            <!-- User -->
            <ul class="nav align-items-center d-md-none">
                <li class="nav-item dropdown">
                    <a
                            class="nav-link"
                            href="#"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        <div class="media align-items-center">
                            <span class="avatar avatar-sm rounded-circle">
                                <img
                                    alt="Profilio nuotrauka"
                                    src="{{ asset('build/images/team-4-800x800.jpg') }}"
                                />
                            </span>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">{{ 'Welcome'|trans }}!</h6>
                        </div>
                        <a href="#" class="dropdown-item">
                            <i class="ni ni-single-02"></i>
                            <span>{{ 'My profile'|trans }}</span>
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="ni ni-settings-gear-65"></i>
                            <span>{{ 'Settings'|trans }}</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('logout') }}" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>{{ 'Logout'|trans }}</span>
                        </a>
                    </div>
                </li>
            </ul>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="{{ path('home') }}">
                                {{ 'Brand name'|trans }}
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button
                                    type="button"
                                    class="navbar-toggler"
                                    data-toggle="collapse"
                                    data-target="#sidenav-collapse-main"
                                    aria-controls="sidenav-main"
                                    aria-expanded="false"
                                    aria-label="Toggle sidenav"
                            >
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="ni ni-single-02 text-yellow"></i> {{ 'My profile'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('questionnaire_get') }}">
                            <i class="ni ni-planet text-blue"></i> {{ 'Questionnaire'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="main-content">
        <!-- Top navbar -->
        <nav
                class="navbar navbar-top navbar-expand-md navbar-dark"
                id="navbar-main"
        >
            <div class="container-fluid">
                <a
                        class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
                        href="{{ path('questionnaire_get', {'slug': questionnaireTitle}) }}"
                >{{ questionnaireTitle|trans }}</a
                >

                <!-- User -->
                <ul class="navbar-nav align-items-center d-none d-md-flex">
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link pr-0"
                                href="#"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                        >
                            <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img
                            alt="Profilio nuotrauka"
                            src="{{ asset('build/images/team-4-800x800.jpg') }}"
                    />
                  </span>
                                <div class="media-body ml-2 d-none d-lg-block">
                    <span class="mb-0 text-sm  font-weight-bold"
                    >Jessica Jones</span
                    >
                                </div>
                            </div>
                        </a>
                        <div
                                class="dropdown-menu dropdown-menu-arrow dropdown-menu-right"
                        >
                            <div class=" dropdown-header noti-title">
                                <h6 class="text-overflow m-0">{{ 'Welcome'|trans }}!</h6>
                            </div>
                            <a href="#" class="dropdown-item">
                                <i class="ni ni-single-02"></i>
                                <span>{{ 'My profile'|trans }}</span>
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="ni ni-settings-gear-65"></i>
                                <span>{{ 'Settings'|trans }}</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#!" class="dropdown-item">
                                <i class="ni ni-user-run"></i>
                                <span>{{ 'Logout'|trans }}</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Header -->
        <div class="header bg-gradient-primary pb-6 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    <!-- Card stats -->
                </div>
            </div>
        </div>
        <!-- Page content -->

        <div class="container-fluid mt--7">
            <form action="{{ path('questionnaire_post', {'slug': questionnaireTitle}) }}" method="POST">
                {% for question in questions %}
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <div class="card shadow">
                            <div class="card-header bg-transparent">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase text-muted ls-1 mb-1">
                                            {{ questionnaireTitle|trans }} #{{ loop.index }}
                                        </h6>
                                        <h2 class="mb-0">{{ question.questionText }}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {% for answer in question.getAnswers %}
                                <div class="custom-control custom-radio mb-3">
                                    <input
                                            name="{{ answer.questionId }}"
                                            class="custom-control-input"
                                            id="{{ answer.id }}"
                                            value="{{ answer.id }}"
                                            type="radio"
                                            required
                                    />
                                    <label class="custom-control-label" for="{{ answer.id }}"
                                    >{{ answer.answerText }}</label
                                    >
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <button class="btn btn-icon btn-3 btn-primary btn-block" type="submit">
                    <span class="btn-inner--icon"><i class="fas fa-arrow-right"></i></span>
                    <span class="btn-inner--text">
                        {% if questionnaireTitle != 'personal' %}
                            {{ 'Next questionnaire'|trans }}
                        {% else %}
                            {{ 'End questionnaire'|trans }}
                        {% endif %}

                    </span>

                </button>
            </form>

            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-12">
                        <div class="copyright text-center text-muted">
                            &copy; 2019
                            <a
                                    href="https://www.creative-tim.com"
                                    class="font-weight-bold ml-1"
                                    target="_blank"
                            >Mano Kambariokas Geriausias</a
                            >
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

{% endblock %}
